src/main/resources/wsdl/test.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://customer.com"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://customer.com">

	<wsdl:types>
		<xs:schema targetNamespace="http://customer.com">
			<xs:element name="insertCustomerRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int" />
						<xs:element name="name" type="xs:string" />
						<xs:element name="email" type="xs:string" />
						<xs:element name="location" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="getCustomerResponse"
							minOccurs="0"  maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="id" type="xs:int" />
									<xs:element name="name" type="xs:string" />
									<xs:element name="email" type="xs:string" />
									<xs:element name="location" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>


	<!--Define input and output parameters -->
	<wsdl:message name="insertCustomerRequest">
		<wsdl:part name="in" element="tns:insertCustomerRequest" />
	</wsdl:message>
	<wsdl:message name="CustomersResponse">
		<wsdl:part name="out" element="tns:CustomersResponse" />
	</wsdl:message>

	<!--Define port definition -->
	<wsdl:portType name="CustomerEndpoint">
		<wsdl:operation name="getCustomer">
			<wsdl:input message="tns:insertCustomerRequest" />
			<wsdl:output message="tns:CustomersResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<!--Bind Soap operation and service -->
	<wsdl:binding name="CustomerServiceSoapBinding"
		type="tns:CustomerEndpoint">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCustomer">
			<soap:operation
				soapAction="http://customer.com/getCustomer" style="document" />
			<wsdl:input>
				<soap:body parts="in" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="out" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!--Define service -->
	<wsdl:service name="CustomerEndpointService">
		<wsdl:port name="CustomerEndpoint"
			binding="tns:CustomerServiceSoapBinding">
			<soap:address
				location="http://localhost:8080/services/customer/learn" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>